.page-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 90%;
  width: 50%;
  clip-path: url(#myCurve);
  animation: bounce 1s infinite;
}

.page-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.page-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.page-subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  color: #ffffff;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 20px;
}

.page-icon img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.page-icon img:hover {
  transform: scale(1.1);
  filter: invert(100%);
}

.subtitle-flow-in {
  clip-path: inset(100% 0 0 0);
  animation: subTitleReveal 0.3s forwards ease-in;
}

.title-flow-in {
  clip-path: inset(100% 0 0 0);
  animation: titleReveal 0.5s forwards ease-in;
}

.icon-flow-in {
  clip-path: inset(0 0 0 0);
  animation: iconReveal 0.7s forwards ease-in;
}

.subtitle-flow-out {
  clip-path: inset(100% 0 0 0);
  animation: subTitleDisappear 0.5s forwards ease-in;
}

.title-flow-out {
  clip-path: inset(100% 0 0 0);
  animation: titleDisappear 1s forwards ease-in;
}

.icon-flow-out {
  clip-path: inset(0 0 0 0);
  animation: iconDisappear 1.5s forwards ease-in;
}

@keyframes subTitleReveal {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes titleReveal {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes iconReveal {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes subTitleDisappear {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 0);
  }
}

@keyframes titleDisappear {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 0);
  }
}

@keyframes iconDisappear {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 0);
  }
}

@keyframes spring {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.spring {
  animation: spring 1.5s ease-in-out;
}
